extends layout 

block content 
    h1 About us 
    P 
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora architecto temporibus praesentium voluptas, veniam labore numquam beatae, cupiditate expedita nam excepturi consequuntur obcaecati iure pariatur ut repellat repellendus aut laudantium.
    P 
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi odit voluptatum quibusdam voluptates reiciendis nostrum minima iure impedit. Ad alias cumque eius vel eum modi suscipit nam vitae pariatur veritatis.