extends layout

block content
  br
  h2.pb-2.border-bottom Have Problem?
  p
    | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
  .row.g-4.py-5.row-cols-1.row-cols-lg-3
    .feature.col
      h2 Need to buy PC
      p
        | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
      P 
        a.btn.btn-primary.btn-lg(href="#") Read More
    .feature.col
      h2 Hardware Problems
      p
        | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
      P 
        a.btn.btn-primary.btn-lg(href="#") Read More
    .feature.col
      h2 Software Problems
      p
        | Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
      P 
        a.btn.btn-primary.btn-lg(href="#") Read More
