extends layout

block content 
    .container 
        h1 Services
        br
       


        each service , i in services
            .card(style='width: 77rem;')
                .card-body
                    h5.card-title #{service.name}
                    h6.card-subtitle.mb-2.text-muted #{service.description}
                    p.card-text
                        | Price Range: #{service.price_range}
            br
                    